@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  background-color: #0b0c2a;

  color: #ffffff;
}

.carousel-inner {
  height: 35em;
}

.headings,
.viewAll {
  font-family: "Oswald", sans-serif;
}

.headings::before {
  display: inline-block;
  content: "";
  background-color: #e53637;
  height: 35px;
  width: 3px;
}

.viewAll::after {
  content: " →";
}

.img {
  width: 18rem;
}
